<h1><%= @place_name %></h1>
 
<div class="row">
  <% for entry in @entries_rend %>
      <h4><%= entry["title"] %></h4>
      <h5><%= entry["ooccurred_on"]%></h5>
      <p><%= entry["description"] %></p>
  <% end %>
</div>